#.env

ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection="Server=db;Database=TelemetryDb;User=sa;Password=Your_password123;Encrypt=False;TrustServerCertificate=True;"
OTEL_EXPORTER_OTLP_ENDPOINT="<insert your OTLP endpoint here>" # e.g. http://otelcol:4318 or https://collectors.au.sumologic.com/receiver/v1/otlp/<unique collector endpoint ID>
#Note: If you set resource attributes with both environment variables and code, the values in code take precedence.
OTEL_RESOURCE_ATTRIBUTES="service.name=testapp"
SA_PASSWORD="Your_password123"
ACCEPT_EULA="Y"
SUMO_LOGIC_INSTALLATION_TOKEN="<insert your Sumo Logic installation token here>"